<%= form_with(model:@article  , data:{ trubo: false } ) do |f| %>

  <div>
    <%= f.label :title, '標題' %>
    <%= f.text_field :title, class:'shadow-md border border-slate-500'%>
  </div>

  <div>
    <%= f.label :content, '內文' %>
    <%= f.text_area :content, class:'shadow-md border border-slate-500'  %>
  </div>

  <div>
    <%=f.submit '送出', class:'submit-btn' %>
  </div>
  
<% end %>