<!DOCTYPE html>
<html>
  <head>
    <title>Hao</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag Ckeditor.cdn_url, "application", "data-turbo-track": "reload", defer: true %>
    
  </head>

  <body class=" bg-[#fffcf8]">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>

    <main class="container mx-auto w-[82%] ">
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
